// Common
body {
    font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    -webkit-font-smoothing: antialiased;
}
a {
    transition: all .2s;
}
h1,h2,h3,h4,h5,h6 {
    a,a:hover {
        text-decoration: none;
    }
}
// mixin
@mixin clearfix() {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}
